In [1]:
import pandas as pd
import numpy as np

#### 1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

In [9]:
df = pd.DataFrame(np.random.randint(1,100,size=(6,4)) , columns=['A','B','C','D'])
print("Original DataFrame")
print(df)
print(df.shape)

df.set_index('A',inplace=True)
print('DataFrame with new index')
print(df)
print(df.shape)

Original DataFrame
    A   B   C   D
0  84  92  63  72
1  58  40  38  55
2  64  55  71  51
3  61  52  94  98
4  60  48  66  31
5  95  11  72   3
(6, 4)
DataFrame with new index
     B   C   D
A
84  92  63  72
58  40  38  55
64  55  71  51
61  52  94  98
60  48  66  31
95  11  72   3
(6, 3)

#### 2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [14]:
df = pd.DataFrame(np.random.randint(1,10,size=(3,3)) , columns=['A','B','C'] , index=['X','Y','Z'])
print(df)

element = df.at['Y','B']
print(element)

   A  B  C
X  8  6  5
Y  9  7  1
Z  4  5  8
7

#### 3. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

In [18]:
df = pd.DataFrame(np.random.randint(1,10,size=(5,3)) , columns=['A','B','C'])
print(df)

df['D'] = df['A'] * df['B']
print("Data frame with new column")
print(df)

   A  B  C
0  3  7  1
1  7  8  2
2  9  8  9
3  3  6  9
4  3  8  3
Data frame with new column
   A  B  C   D
0  3  7  1  21
1  7  8  2  56
2  9  8  9  72
3  3  6  9  18
4  3  8  3  24

#### 4. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [19]:
df = pd.DataFrame(np.random.randint(1,10,size=(4,3)) , columns=['A','B','C'])
print(df)

row_sum = df.sum(axis=1)
column_sum = df.sum(axis=0)

print("Row sum : ",row_sum)
print("Column sum : ",column_sum)

   A  B  C
0  2  6  5
1  9  8  2
2  8  1  7
3  7  6  4
Row sum :  0    13
1    19
2    16
3    17
dtype: int64
Column sum :  A    26
B    21
C    18
dtype: int64

#### 5. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [5]:
df = pd.DataFrame(np.random.randint(1,11,size=(5,3)) , columns=['A','B','C'])
print("Original data")
print(df)

# Introducing NaN values
df.iloc[0,2] = np.nan
df.iloc[1,1] = np.nan
df.iloc[4,0] = np.nan
print("Dataframe with NaN values")
print(df)

# Fill the NaN values with the mean of the respective columns
df.fillna(df.mean(), inplace=True)
print("Replacing nan values with mean")
print(df)

Original data
    A  B   C
0  10  9   7
1   8  2   3
2   8  4  10
3   3  2   8
4   1  5   5
Dataframe with NaN values
      A    B     C
0  10.0  9.0   NaN
1   8.0  NaN   3.0
2   8.0  4.0  10.0
3   3.0  2.0   8.0
4   NaN  5.0   5.0
Replacing nan values with mean
       A    B     C
0  10.00  9.0   6.5
1   8.00  5.0   3.0
2   8.00  4.0  10.0
3   3.00  2.0   8.0
4   7.25  5.0   5.0

#### 6. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [7]:
df = pd.DataFrame(np.random.randint(1,11,size=(6,4)) , columns=['A','B','C','D'])
print("Original data frame")
print(df)

df.iloc[1,3] = np.nan
df.iloc[3,0] = np.nan
df.iloc[4,1] = np.nan
print("Introducing nan values")
print(df)

df.dropna(inplace=True)
print("Dropping rows wich has nan values")
print(df)

Original data frame
   A  B  C  D
0  6  7  8  9
1  1  6  3  1
2  7  5  1  3
3  1  1  9  6
4  2  5  3  2
5  2  3  2  5
Introducing nan values
     A    B  C    D
0  6.0  7.0  8  9.0
1  1.0  6.0  3  NaN
2  7.0  5.0  1  3.0
3  NaN  1.0  9  6.0
4  2.0  NaN  3  2.0
5  2.0  3.0  2  5.0
Dropping rows wich has nan values
     A    B  C    D
0  6.0  7.0  8  9.0
2  7.0  5.0  1  3.0
5  2.0  3.0  2  5.0

#### 7. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

In [3]:
df = pd.DataFrame({'Category' : np.random.choice(['A','B','C'] , size=10) , 'Value':np.random.randint(1,20,size=10)})
print("Original DataFrame")
print(df)

grouped = df.groupby('Category')['Value'].agg(['sum','mean'])
print("Grouped values")
print(grouped)

Original DataFrame
  Category  Value
0        B      3
1        A      6
2        A     19
3        A      3
4        B      9
5        B      2
6        B     10
7        C      5
8        C     13
9        C      1
Grouped values
          sum      mean
Category
A          28  9.333333
B          24  6.000000
C          19  6.333333

#### 8. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [4]:
df = pd.DataFrame({
    'Category' : np.random.choice(['A','B','C'] , size = 10),
    'Product' : np.random.choice(['Prodct1','Prodct2','Prodct3'] , size=10),
    'Sales' : np.random.randint(1,100,size=10)
})

print("Original data")
print(df)

grouped = df.groupby('Category')['Sales'].sum()
print("Total sales of each category")
print(grouped)

Original data
  Category  Product  Sales
0        A  Prodct2     49
1        B  Prodct1     34
2        B  Prodct3     62
3        C  Prodct2     32
4        C  Prodct2     97
5        B  Prodct1     62
6        B  Prodct3     47
7        A  Prodct1     17
8        B  Prodct2     29
9        B  Prodct1     99
Total sales of each category
Category
A     66
B    333
C    129
Name: Sales, dtype: int32

#### 9. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.

In [5]:
df1 = pd.DataFrame({'Key' : ['A','B','C','D'] , 'Value1' : np.random.randint(1,8,size=4)})
df2 = pd.DataFrame({'Key' : ['A','B','C','D'] , 'Value2' : np.random.randint(1,8,size=4)})

print("First Data Frame")
print(df1)

print("Second Data Frame")
print(df2)

merged = pd.merge(df1,df2, on='Key')
print("Merged dataframe")
print(merged)

First Data Frame
  Key  Value1
0   A       6
1   B       3
2   C       2
3   D       4
Second Data Frame
  Key  Value2
0   A       2
1   B       3
2   C       6
3   D       3
Merged dataframe
  Key  Value1  Value2
0   A       6       2
1   B       3       3
2   C       2       6
3   D       4       3

#### 10. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

In [8]:
df1 = pd.DataFrame({
    'A' : np.random.randint(1,4,size = 4),
    'B' : np.random.randint(1,4,size = 4)
})

df2 = pd.DataFrame({
    'C' : np.random.randint(1,4,size = 4),
    'D' : np.random.randint(1,4,size = 4)
})

print("Data 1 ")
print(df1)
print("Data 2 ")
print(df2)

concat_rows = pd.concat([df1,df2] , axis=0, ignore_index=True)
print("Concatenation by rows")
print(concat_rows)

concat_columns = pd.concat([df1,df2] , axis=1)
print("Concatenation by columns")
print(concat_columns)

Data 1
   A  B
0  2  1
1  1  1
2  3  2
3  3  3
Data 2
   C  D
0  3  3
1  3  1
2  1  2
3  2  3
Concatenation by rows
     A    B    C    D
0  2.0  1.0  NaN  NaN
1  1.0  1.0  NaN  NaN
2  3.0  2.0  NaN  NaN
3  3.0  3.0  NaN  NaN
4  NaN  NaN  3.0  3.0
5  NaN  NaN  3.0  1.0
6  NaN  NaN  1.0  2.0
7  NaN  NaN  2.0  3.0
Concatenation by columns
   A  B  C  D
0  2  1  3  3
1  1  1  3  1
2  3  2  1  2
3  3  3  2  3

### Time series analysis

#### 11. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.

In [2]:
date_rng = pd.date_range(start='2025-01-01' , end='2025-03-01', freq='D')
df = pd.DataFrame(date_rng,columns=['date'])
df['data'] = np.random.randint(1,100,size=(len(date_rng)))
df.set_index('date' , inplace=True)
print(df)

monthly_mean = df.resample('M').mean()
print("Monthly mean DataFrame:")
print(monthly_mean)

            data
date
2025-01-01    30
2025-01-02    44
2025-01-03    33
2025-01-04    55
2025-01-05    35
2025-01-06    85
2025-01-07    24
2025-01-08    64
2025-01-09    30
2025-01-10    50
2025-01-11    68
2025-01-12    25
2025-01-13    46
2025-01-14    10
2025-01-15    56
2025-01-16    19
2025-01-17     4
2025-01-18    24
2025-01-19    99
2025-01-20    30
2025-01-21    61
2025-01-22    83
2025-01-23     1
2025-01-24    47
2025-01-25    63
2025-01-26    65
2025-01-27    87
2025-01-28    34
2025-01-29    47
2025-01-30    77
2025-01-31    49
2025-02-01    36
2025-02-02    25
2025-02-03    53
2025-02-04    20
2025-02-05    90
2025-02-06    96
2025-02-07    47
2025-02-08    43
2025-02-09    25
2025-02-10     9
2025-02-11    12
2025-02-12    25
2025-02-13    43
2025-02-14    74
2025-02-15    40
2025-02-16    51
2025-02-17    62
2025-02-18    34
2025-02-19    32
2025-02-20    53
2025-02-21    37
2025-02-22    89
2025-02-23    99
2025-02-24    31
2025-02-25    19
2025-02-26    29
2025-02-27    28
2025-02-28     2
2025-03-01    62
Monthly mean DataFrame:
                 data
date
2025-01-31  46.612903
2025-02-28  43.000000
2025-03-31  62.000000

C:\Users\prems\AppData\Local\Temp\ipykernel_13384\2448768952.py:7: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_mean = df.resample('M').mean()

#### 12. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-02-01' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

In [4]:
date_rng = pd.date_range(start='2025-01-01' , end='2025-02-01' , freq='D')
df = pd.DataFrame(date_rng , columns=['date'])
df['data'] = np.random.randint(1,100,size=(len(date_rng)))
df.set_index('date' , inplace=True)
df.head()

# Compute the rolling mean with a window of 7 days
rolling_mean = df.rolling(window=7).mean()
print("Rolling mean dataframe")
print(rolling_mean.head(10))

Rolling mean dataframe
                 data
date
2025-01-01        NaN
2025-01-02        NaN
2025-01-03        NaN
2025-01-04        NaN
2025-01-05        NaN
2025-01-06        NaN
2025-01-07  49.142857
2025-01-08  48.571429
2025-01-09  44.000000
2025-01-10  40.571429

### Multi-Index DataFrame

#### 13. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.

In [5]:
# Create a Pandas DataFrame with a MultiIndex (hierarchical index)
arrays = [['A', 'A', 'B', 'B'], ['one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 3)), index=index, columns=['Value1', 'Value2', 'Value3'])
print("MultiIndex DataFrame:")
print(df)

# Basic indexing and slicing operations
print("Indexing at Category 'A':")
print(df.loc['A'])

print("Slicing at Category 'B' and SubCategory 'two':")
print(df.loc[('B', 'two')])

MultiIndex DataFrame:
                      Value1  Value2  Value3
Category SubCategory
A        one              88      45      94
         two              15      69      83
B        one              51       6      44
         two              13      37      51
Indexing at Category 'A':
             Value1  Value2  Value3
SubCategory
one              88      45      94
two              15      69      83
Slicing at Category 'B' and SubCategory 'two':
Value1    13
Value2    37
Value3    51
Name: (B, two), dtype: int32